<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SHZ - OTP</title>
  </head>
  <body>
    <div style="text-align: center;">
      <h2>Student Helping Zone - (SHZ)</h2>
      <h3>Your one time password to verify your email address</h3>
      <h1>{{ otpNum }}</h1>
      <div>
        <a href="mailto:dwarampudisaireddy1514@gmail.com" target="_blank">contact us</a>
      </div>
    </div>
  </body>
</html>
